---
import "@/styles/globals.css";
---

<header
  class="flex w-[69.375rem] items-center justify-between gap-[32.28rem] sm:w-[20.44rem] sm:gap-[10.25rem] md:w-[43.06rem] md:gap-[5.31rem]"
>
  <div class="flex items-center justify-between gap-16">
    <img src="/images/shared/desktop/logo.svg" alt="logo" class="" />
    <ul class="flex items-center justify-between gap-10 sm:hidden">
      <li class="">
        <a
          href=""
          class="font-Public text-[0.9375rem] font-bold leading-normal text-[#36536B] opacity-70"
          >Pricing</a
        >
      </li>
      <li class="">
        <a
          href=""
          class="font-Public text-[0.9375rem] font-bold leading-normal text-[#36536B] opacity-70"
          >About</a
        >
      </li>
      <li class="">
        <a
          href=""
          class="font-Public text-[0.9375rem] font-bold leading-normal text-[#36536B] opacity-70"
          >Contact</a
        >
      </li>
    </ul>
  </div>
  <div class="flex">
    <button
      class="shadow-3xl h-12 w-[10.8125rem] rounded-3xl bg-[#BA4270] font-Public text-[0.9375rem] font-bold leading-normal tracking-[-0.00719rem] text-[#FBFCFE] sm:hidden"
      >Schedule a Demo</button
    >
    <img
      src="/public/images/shared/mobile/menu.svg"
      alt=""
      class="hidden sm:inline-block md:hidden"
    />
  </div>
</header>
