---
import "@/styles/globals.css";
---

<header class="flex justify-between items-center gap-16 py-10 mx-[10.36rem]">
  <nav class="flex justify-between items-center gap-16">
    <a href="/index" class="cursor-pointer"
      ><img src="/images/shared/desktop/logo.svg" alt="logo" class="" /></a
    >
    <ul
      class="flex items-center gap-8 font-Public text-[#979797] font-bold text-[0.938rem]"
    >
      <li class=""><a href="/pricing" class="cursor-pointer">Pricing</a></li>
      <li class=""><a href="/about" class="cursor-pointer">About</a></li>
      <li class=""><a href="/contact" class="cursor-pointer">Contact</a></li>
    </ul>
  </nav>
  <button
    class="bg-[#BA4270] rounded-[2rem] px-8 py-4 text-[#FBFCFE] font-bold text-[0.938rem] font-Public"
    type="button">Schedule a Demo</button
  >
</header>
